########################### KONFIGURATION zum MP_LOGOS Skript ###########################
#
# Alle Einstellungen zum Skript werden hier eingetragen. Diese Datei (mp_logos.conf) am
# besten nach ~/etc kopieren. Das Skript findet sie dann automatisch.
#
#########################################################################################

### Hinweis zum ausfüllen: Wenn Variablen ($) verwendet werden,
### dann in doppelten " ansonsten können einfache ' benutzt werden

# 'LOGODIR' ist der Ordner, wo die Symlinks angelegt werden und das Skin (Z. B. SkinflatPlus)
# die Kanallogos lädt. Verzeichnis ohne abschließendes '/'
LOGODIR='/usr/local/src/_div/flatpluslogos'  # Logos für VDR-Skin

# 'MP_LOGODIR' ist der Ordner, wo die Mediaportal-Kanallogos liegen (GIT)
MP_LOGODIR='/usr/local/src/_div/mediaportal-de-logos.git'  # GIT

# Logo konfiguraton. Auskommentiern, wenn Logos unveränert verwendet werden sollen
#Array mit folgenden Werten:
# Größe Hintergrund, Größe des Logos, Hintergrund
#LOGO_CONF=(220x132 200x112 transparent)  # Vorgabe
# 220x132 190x102 blue
# 220x132 190x102 reflection
# 220x132 190x102 transparent
# 220x132 220x132 transparent
# 220x132 190x102 white
# 220x132 190x102 black
# 220x132 190x102 transparent

# Liste der Hintergründe und deren Größe
# 70x53: black, blue, reflection, transparent, white
# 100x60: black, blue, reflection, transparent, white
# 220x132: black, blue, reflection, transparent, white
# 256x256: grey, reflection, transparent
# 400x170: transparent
# 400x240: blue, transparent
# 800x450: transparent

# Kanallogos liegen in den varianten 'Light' für dunkle Hintergründe und
# 'Dark' für helle Hintergründe vor.
LOGO_VARIANT='Light'                   # Logos für dunklen Hintergrund

# SVG-Logos (Originale im GIT) verwenden. Wenn auf 'true' gesetzt, werden die im GIT
# enthaltenen SVG-Logos verlinkt, sofern vorhanden. Auch 'Light' und 'Dark'-Varianten
# werden berücksichtigt
USE_SVG=''  # Auf 'true' setzen um SVG-Logos zu verwenden [Experimentell]

# Mapping der Sender zu den Logos. Datei liegt dem GIT bei. Keine änderung nötig
MAPPING='LogoMapping.xml'

# Provider oder auskommentieren wenn der Provider ignoriert werden soll.
# Beispiele: 'Astra 19.2E', 'MagentaTV', 'Terrestrial München', 'Vodafone Kabel München'
PROV='Astra 19.2E'                     # Siehe LogoMapping.xml

# Kanalliste vom VDR. Wird für Kanäle verwendet, die keinem Provider zugeornet sind
# Wenn die Kanalliste nicht verwendet werden soll, dann bitte auskommentieren
CHANNELSCONF='/etc/vdr/channels.conf'  # VDR's Kanalliste

# Logdatei. Wenn nicht gewünscht einfach auskommentiern
LOGFILE="/var/log/${SELF_NAME%.*}.log" # Log-Datei

# Maximale Größe der Logdatei. Bei überschreiten wird diese vom Skriot umbenannt in *.old
MAXLOGSIZE=$((1024*50))                # Log-Datei: Maximale Größe in Byte

# Festlegen, ob alle Zeichen des Sendernamens in kleinbuchstaben konvertiert werden sollen
# oder nur A-Z. Bei SkinflatPlus werden Logos nicht angezeigt, wenn Umlaute am Wortahfang
# klein sind. [sat.1 österreich.png -> Keine Anzeige] - [sat.1 Österreich.png -> OK]
# 'A-Z' (Nur A-Z umwandeln) oder 'ALL' (Alle Zeichen umwandeln)
TOLOWER='A-Z'                          # Nur A-Z in kleinbuchstaben
